@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");
:root {
  --primary-color: #495e57;
  --accent-color: #f4ce14;
  --text-color: #475569;
  --active-bg: #e0f7e7;
  --active-color: #4caf50;
  --inactive-bg: #f9f9f9;
  --inactive-color: #edefee;
  --inactive-border: #ccc;
  --max-width: 1100px;
  --xl-font-size: 1.25rem;
  --xl-line-height: 1.75rem;
  --font-family-primary: "Karla", sans-serif;
  --spacing: 0.25rem;
  --font-family-secondary: "Markaz Text", sans-serif;
  --sm-shadow: 0 1px 3px 0 rgb(0 0 0) / 0.1, 0 1px 2px -1px rgb(0 0 0/0.1);
  --xl-shadow: 0 20px 25px -5px rgb(0 0 0/0.1), 0 8px 10px -6px rgb(0 0 0/0.1);
  --transition: all 0.3s linear;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  font-family: var(--font-family-primary);
  color: var(--text-color);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--font-family-secondary);
  font-weight: 700;
}

section {
  min-height: 80vh;
  overflow: hidden;
  max-width: 100%;
  padding: 1.2rem;
}
@media screen and (min-width: 800px) {
  section {
    padding: 0;
  }
}

/* ========utility classes======== */

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-stretch {
  display: flex;
  justify-content: stretch;
  align-content: center;
}

.gap-1 {
  gap: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: hidden;
}

.section-container {
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: 80vh;
  padding: 4rem 1rem;
}

.auth-section {
  display: grid;
  place-items: center;
}

.auth-section .container {
  margin: 0 auto;
  padding: 4rem 7rem;
  display: flex;
  flex-direction: colum;
}

.auth-buttons-container {
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  /* border: 1px solid red; */
}
.auth-buttons-container button {
  padding: 0.5rem 4rem;
  font-size: 1rem;
  border-radius: 8px;
}

@media screen and (min-width: 800px) {
  .auth-section {
    display: grid;
    place-items: center;
  }

  .auth-section .container {
    margin: 0 auto;
    padding: 4rem 7rem;
    display: flex;
    flex-direction: colum;
  }

  .auth-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    /* border: 1px solid red; */
  }
  .auth-buttons-container button {
    padding: 1rem 4rem;
    font-size: 1.5rem;
  }
}

.logo {
  width: 100px;
  height: 30px;
}

.hero-section {
  background-color: var(--primary-color);
  color: white;
}

.hero-content-wrapper {
  text-align: center;
}

.hero-main-heading {
  margin-bottom: 0.25rem;
  color: var(--accent-color);
}

.hero-subheading {
  margin-bottom: 1rem;
}

.hero p {
  margin-bottom: 1.5rem;
}

.hero-image-container {
  border-radius: 0.5rem;
  overflow: hidden;
  object-fit: contain;
  border: 1px solid var(--accent-color);
  max-width: 400px;
  margin-top: 2rem;
}

@media screen and (min-width: 800px) {
  .hero-section .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-content-wrapper {
    text-align: left;
    margin: auto 0;
  }
  .hero-section h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
  }
  .hero-section p {
    max-width: 30vw;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .hero-section .button {
    margin: 2rem 0;
  }
  .hero-image-container {
    /* border: 1px solid red; */
    height: min-content;
  }
}

/* ===FEATURES SECTION===== */

.features-section {
  padding: 4rem 1rem;
}

.features-section-heading {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.card-wrapper-container {
  display: grid;
  gap: 3rem;
}

.card {
  max-width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border: 1px solid #e2e8f0;
  box-shadow: var(--sm-shadow);
}

.card-image-container {
  border-radius: 1rem;
  overflow: hidden;
}

.card-content-wrapper {
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
}

.card-heading {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 800px) {
  .features-section {
    padding: 8rem 0;
  }
  .card-wrapper-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    justify-content: space-between;
  }
}

.section-heading {
  text-align: center;
  /* border: 1px solid blue; */
  font-size: var(--xl-font-size);
  margin-bottom: 3rem;
}

.main-section {
  min-height: 50vh;
  background-color: var(--primary-color);
  color: white;
  /* border: 3px solid red; */
  padding: 3rem 0;
}

.main-section > * {
  max-width: var(--max-width);
  /* margin: 0 auto; */
  /* border: 1px solid black; */
}

.main-section form {
  min-height: 50vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: space-around;
  /* border: 1px solid red; */
  /* gap: 2rem; */
}

.main-section form > * {
  /* border: 1px solid red; */
  width: 100%;
}

.main-section input:not([type="radio"]),
.main-section select,
.main-section textarea {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  border: transparent;
}

.form-input-container {
  width: 100%;
}

textarea {
  min-height: 5rem;
}

.reservation-summary-container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ======MULTISTEP BAR====== */

.multistep-bar {
  max-width: 1100px;
  background-color: white;
  color: var(--text-color);
  margin: 0 auto;
}
.steps-container {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 1px;
}

.step-indicator {
  background-color: white;
  color: var(--accent-color);
  font-weight: 700;
  text-align: center;
  padding: 0.5rem 0;
  /* border: 1px solid red; */
  font-size: large;
  text-transform: uppercase;
}

.tab {
  flex: 1;
  margin-left: 2px;
  text-align: center;
  padding: 0.5rem 0;
}

.active-tab {
  background-color: white;
  color: black;
  font-weight: bold;
  border-bottom: 3px solid var(--accent-color);
}

.inactive-tab {
  background-color: var(--inactive-bg);
  color: var(--inactive-color);
  border-bottom: 1px solid var(--inactive-border);
}

.button {
  border: transparent;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s linear;
  display: flex;
  box-shadow: var(--sm-shadow);
}

.white-button {
  border: 1px solid var(--accent-color);
  padding: 0.5rem 2rem;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s linear;
  display: flex;
  box-shadow: var(--sm-shadow);
}

.white-button:hover {
  color: var(--accent-color);
  box-shadow: var(--xl-shadow);
}

.button-with-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  /* background-color: red; */
}

.button .icon,
.white-button .icon {
  font-size: 1rem;
  margin-left: 1rem;
  align-self: center;
}

.button .icon-left,
.white-button .icon-left {
  margin-right: 1rem;
}

.button:hover {
  background-color: 333333;
  color: white;
}

.radio-group {
  /* border: 1px solid red; */
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-inputs-container {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  gap: 1rem;
}

.form-field {
  width: 100%;
  padding: 0.5rem 1rem;
}

.form-error-message {
  color: red;
  height: 1rem;
  font-weight: bold;
}

.reservation-paragraph {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

textarea {
  min-height: 200px;
  margin-top: 3rem;
}

/* ====NAVIGATION==== */

.menuButton {
  width: 30px;
  height: 30px;
  /* border: 1px solid red; */
  background: transparent;
}

.menuButton img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 800px) {
  .menuButton {
    display: none;
  }
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* border: 1px solid red; */
  max-width: var(--max-width);
  margin: 0 auto;
}

.navLink-container {
  position: absolute;
  transition: all 0.5s ease-in;
  width: 100%;
  height: 60vh;
  top: 100%;
  left: 0;
  display: none;
  background-color: #333333;
  opacity: 0.9;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;

  gap: 0.5rem;
  padding: 2rem;
}

.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 4rem;
}

.show.navLink-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.navLinks li {
  list-style-type: none;
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink:hover {
  padding: 0.5rem 1rem;
  border-radius: 16px;
  background-color: var(--accent-color);
  font-weight: bold;
  transition: var(--transition);
}

.auth-button {
  background-color: transparent;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 16px;
  cursor: pointer;
}

.user-auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.user-auth-container.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-auth-container button {
  color: white;
}

.user-avatar {
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  width: 30px;
  height: 30px;
}

.user-avatar.desktop-nav {
  display: none;
}

/* ======Media query for Navbar starts ====== */

@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
  }

  .navLink-container,
  .show.navLink-container {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    padding: 0;
    height: 100%;
    /* border: 1px solid green; */
  }

  .navLinks {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    height: auto;
    width: auto;
    padding: 0;
    gap: 3rem;
  }

  .navLink {
    color: var(--primary-color);
    text-decoration: none;
  }

  .navLink:hover {
    padding: 0.5rem 1rem;
    border-radius: 16px;
    background-color: var(--accent-color);
    font-weight: bold;
    transition: var(--transition);
  }

  .auth-button {
    background-color: transparent;
    border: transparent;
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
  }

  .user-auth-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;
  }

  .user-auth-container button {
    color: var(--primary-color);
  }
  .user-auth-container.mobile-nav {
    display: none;
  }

  .user-avatar.desktop-nav {
    display: block;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    width: 50px;
    height: 50px;
  }
}

/* ======Media query for Navbar ends ====== */

/* =====HERO==STARTS=== */

.hero-section .section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section .hero-content-wrapper {
  text-align: center;
}

.hero-section .intro {
  max-width: 70vw;
  line-height: 1.5rem;
}

.hero-section button {
  display: block;
  margin: 1rem auto;
}

/* ====Hero Media query starts ============ */

@media screen and (min-width: 800px) {
  .hero-section .section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  .hero-section .hero-content-wrapper {
    text-align: left;
  }

  .hero-section .intro {
    max-width: 50vw;
    line-height: 1.5rem;
  }

  .hero-section button {
    display: flex;
    margin: 1rem auto;
  }
}

.nav-buttons-container {
  display: flex;
  justify-content: end;
  gap: 1rem;
  /* border: 1px solid red; */
  width: 100%;
  margin-top: 0.8rem;
}

/* LOTTIE ANIMATION */

.animation-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  margin-bottom: 0.5rem;
}

.lottie-animation {
  width: 200px;
  height: 300px;
}

.payment-notificaiton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-notificaiton .content-wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem 0;
}

.payment-notificaiton-content-wrapper h3 {
  text-align: center;
}
.payment-notificaiton-content-wrapper p {
  text-align: center;
}

.footer {
  margin-top: 4rem;
  padding: 2rem;
  min-height: 20vh;
}

.icon-container {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.order-details-container {
  display: grid;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
